<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187665963210-9qjto5us5aoji3ghvvecsv09rfr2e39u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187665963210-9qjto5us5aoji3ghvvecsv09rfr2e39u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187665963210-vjuga9k69ocl6u7begcp7btb34t6kiga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-l12s17B5VsBea_AsYlp5UNtwv1jf_wA</string>
	<key>GCM_SENDER_ID</key>
	<string>187665963210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nalfian.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>mvvm-livedata</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-livedata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187665963210:ios:2fe91ad138fb87ef417c33</string>
	<key>DATABASE_URL</key>
	<string>https://mvvm-livedata.firebaseio.com</string>
</dict>
</plist>